.chatDiv{
   
    width: 20vw;
    height: 100vh;
    padding-top: 0px;
    float: left;
    z-index: 1;
    background-color: rgba(80, 80, 80, 1);
    padding-bottom: 25vh; 
    
    flex-direction: column; 
    position: fixed;
}
.close_chat_div{
    
    height: 5vh;
    font-size: 1.8em;
    color: rgb(231, 0, 19);
    padding-right: 7px;
    z-index: 76;
    display: inline;
    width: 4vh;
}
.textAreaChat{
    width: 96%;
    min-height: 5%;
    
    bottom: 0;   
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column; 
    border-color: aqua;
    border-style: ridge; 
    font-size: 1vw;
 }
 
 
 
 
 
 .loginInput{
     
     min-width: 25%;
    
     min-height: 13%;
    
 }
 .loginInputForm{
    
     min-width: 100%;
    
     min-height: 20%;
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: 1vw;
     background-color: rgba(80, 80, 80, 1);
 }
 .loginButton{
     min-width: 30%;
  
     min-height: 10%;
    
     margin: 5% 0 0 0;
     transition-duration: 0.4s;
     border-radius: 20%;
 }
 .loginButton:hover{
    background-color: rgba(80, 80, 80, 1);
    color: white;
 }
 .loginDonthaveAcc{
     margin-top: 20px;
     margin-bottom: 5%;
     font-size: 1vw;
     min-width: 30%;
     max-width: 50%;
    
   
     transition-duration: 0.4s;
     border-radius: 20%;
 }
 .loginDonthaveAcc:hover{
    background-color: rgba(80, 80, 80, 1);
    color: white;
 }
 .registerForm{
    
    min-width: 100%;
   
    min-height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vw;
    background-color: rgba(80, 80, 80, 1);
 }
 .registerInput{
  
    min-width: 25%;
 
    min-height: 13%;
 }

 .RegisterHaveAccButton{
     margin-top: 5%;
     font-size: 11px;
     min-width: 30%;
  
     min-height: 10%;
   
     transition-duration: 0.4s;
     border-radius: 20%;
     font-size: 1vw;
 }
 .RegisterHaveAccButton:hover{
    background-color: rgba(80, 80, 80, 1);
    color: white;
 }
 .button{
    margin: 0 10vh 0 10vh;
    max-width: 20%;
    max-height: 10%;
    
}
.RegisterButton{
    min-width: 30%;

    min-height: 13%;
 
    transition-duration: 0.4s;
    border-radius: 20%;
}
.RegisterButton:hover{
    background-color: rgba(80, 80, 80, 1);
    color: white;
 }
 .formsCharacters{
    text-align: center;
    width:100%;
    height: 10%;
    background-color: transparent;
 }
.loggof_chat_button{
    transition-duration: 0.4s;
    min-width: 100%;
 
    min-height: 4%;
   
    font-size: 1vw;
}
.loggof_chat_button:hover{
    background-color: rgba(80, 80, 80, 1);
    color: white;
    
}