/*container principal do footer */
.class_footer_container{
    height: 40vh;
    width: 100vw;
    position: relative;   
    background: #FFFFFF;
    background-image: linear-gradient(#111111 ,#2f2d2d);
    height: 100%;
    padding-bottom:5% ;
    padding-top:5% ;
    color: rgb(155, 146, 146);
}
.white_color{
    color: #FFFFFF;
}
.class_footer_container a{
    color:rgb(27, 26, 26);
    text-decoration: none;
}
/* */
 .class_footer_row{
    background: rgb(43, 141, 187);
    border:2px solid rgb(202, 34, 34) ;
    background-color: inherit;
    
    width: 100%;
    height: 100%;
 }
/*Letra do copiright */
 .class_footer_copyright_div{
     text-align: center;
     border-top: 0.5px solid rgb(19, 16, 16);
     background-color: inherit;
       color: #FFFFFF;
 }
 .class_footer_align_center{
    text-align: left;
    background-color: inherit;
 }

@media (max-width: 577px) {  /*xs */

}

.class_footer_lists_elements{
    padding-top: 3px;
    padding-bottom: 4px;
    color: rgb(155, 146, 146);
    border-bottom: 0.5px solid rgb(155, 146, 146);
}
.class_footer_lists_elements_no_border a{
    padding-top: 3px;
    padding-bottom: 4px;
    color: rgb(155, 146, 146);
    
}
.class_footer_lists_elements a{
    color: rgb(155, 146, 146);
}
.class_footer_lists_social_media{
    padding-top: 2px;
    padding-bottom: 2px;
}
.class_footer_lists_social_media a{
    color: rgb(155, 146, 146);
}
@media (min-width: 577px) {  /*sm */

}