/*container principal do footer */
.class_footer_container{
    height: 40vh;
    width: 100vw;
    position: relative;   
    background: #FFFFFF;
    border-top: 1px solid rgba(0, 0, 0, 0.5);;
}
/*container lado esquerdo onde fica img  */
.class_footer_img_container_left{
    float: left;
    width: 40%;
    height: 50%;
}
/*container lado direito onde fica as info */
.class_footer_info_container_right{
    float: right;
    width: 60%;
    height: 50%;
    padding-left: 25vw;
    margin-top: 5vh;
}
/*linha q separa */
.class_footer_line{
   
    margin-left: 10%;
    clear: both;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
/*Copyright tag */
.class_footer_left_copyr{
    float: left;
    width: 40%;
    margin-top: 5vh;
    font-size: 2em;
    padding-left: 2vw;
}
/*container of social media imgs */
.class_footer_right_imgs_container{
    text-align: right;
    float: right;
    width: 60%;
    margin-top: 5vh;
    font-size: 1.5em;
    padding-right: 10vw;
}
/*social media imgs */
.class_footer_right_img1{
    width: 4%;
    border-radius: 50%;
    margin-left: 0.5vw;  

}
.class_footer_right_img2{
    width: 4%;
    border-radius: 50%;
    margin-left: 0.5vw;  

}
.class_footer_right_img3{
    width: 4%;
    border-radius: 50%;
    margin-left: 0.5vw;  

}
.class_footer_right_img4{
    width: 4%;
    border-radius: 50%;
    margin-left: 0.5vw;  

}
/* tabelas  das info*/
.class_footer_info_list1{
    display: table-cell;
    font-size: 1.3em;
}
.class_footer_info_list2{
    display: table-cell;
    padding-left: 5vw;
    font-size: 1.3em;
}
/*LIST Elements */
.class_footer_info_dd_list{
    margin-bottom: 0;
}
.class_footer_info_dt_list{
    margin-bottom: 0;
}