.class_404_page_container{

    width: 100vw;
    min-height: 100vh;
    background-color: rgba(184, 12, 12, 0.5);
    float: right;
    position: relative;
    text-align: center;
    font-size: 8vw;
    padding-top: 5vw;
}