
/* register */
.class_register_container{ 
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(209, 204, 204);
}
/* Rectangle */
.class_register_box_container{    
    position: absolute;
    width: 45vw;
    height: 60vh;
    left: 50vw;
    top: 20vh;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    text-align: center;
}
/* Input de nome*/
.class_register_text_big_tittle{    
    color: #FFFFFF;
    font-size: 3em;

    
 
}
/* input email*/
.class_register_text_input_email{    
    margin-bottom: 5vh;
    margin-top: 4vh;
    position: relative;
    width: 35vw;
    height: 7vh;
    font-size: 2em;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
/*texto faça register */
.class_register_texts{
    color: #FFFFFF;
    font-size: 2em;
    padding-bottom: 5px;
    
}
/*button register */
.class_temconta_button{
    margin-left: 50px;
    font-size: 1.5em;
    text-decoration: none;
}
/*button nao tenho conta */
.class_register_button{
    margin-right: 50px;
    font-size: 1.5em;
}
/* form do register*/
.class_register_form{
    background-color: rgb(48, 46, 46);
    padding: 10% 10% 20% 10%;
    text-align: center;
}
/*coluna principal */
.class_register_col_form{
    width: 100%;
}
.class_register_row_form{
    width: 50%;
    
}